.forum-heading {
	font-family: "Just Another Hand", cursive;
	font-size: 48px;
	font-weight: bold;
	color: #472c1b;
	margin-bottom: 1.5rem;
}

.forum-description {
	font-size: 1.2rem;
	color: #472c1b;
}

.community-guidelines-text {
	font-size: 16px;
	line-height: 1.6;
}

.forum-posts-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.forum-card {
	background-color: #fef0e1;
	border-radius: 12px;
	border: 2px solid;
	position: relative;
	transition: transform 0.2s;
}

.forum-filter-group {
	display: flex;
	align-items: center;
	
}

.forum-select {
	padding: 0.5rem 2rem 0.5rem 0.75rem;
	font-size: 0.95rem;
	border: 2px solid #472c1b;
	border-radius: 10px;
	background: #fefae0;
	color: #472c1b;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	appearance: none;
	background-image: url("../assets/Forum/arrow_forum_filter.svg");
	background-repeat: no-repeat;
	background-position: right 0.6rem center;
	background-size: 25px;
	min-width: 140px;
}

.forum-card-creator {
	font-size: 20px;
	color: #472c1b;
	font-weight: bold;
}

.forum-card-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	border-radius: 0 0 10px 10px;
	padding: 0 16px;
	display: flex;
	align-items: center;
}

.close-panel-btn {
	border: none;
	background: none;
	font-size: 25px;
	cursor: pointer;
	color: #472c1b;
}

.heading-ask-question {
	font-size: 24px;
	font-weight: bold;
	color: #472c1b;
}